.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
  margin: 0 !important;
}
div#panel1a-header {
  margin: 0 !important;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-we0egx-MuiTypography-root {
  font-weight: "inherit";
}

div#demo-simple-select-helper {
  padding: 12px;
}
