/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-itemm {
  margin-left: 5rem;
}

.nav-link k {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-linkk:hover {
  color: #482ff7;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-itemm {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
} */

/* .container-t {
  position: absolute;
  width: 474px;
  height: 926px;

  background: #f6f6f6;
  border-radius: 20px;
}
.language {
  position: absolute;
  width: 79px;
  height: 16px;
  left: 359px;
  top: 57px;
}
.language-text {
  position: absolute;
  width: 74px;
  height: 16px;
  left: 359px;
  top: 57px;

  font-family: "Gilda Display";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.06em;

  color: #000000;
}

.signinfont {
  position: absolute;
  width: 401px;
  height: 141px;
  left: 37px;
  top: 158px;

  font-family: "Gilda Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 77px;
 

  text-align: center;

  color: #000000;
}

.formcontainer {
  position: absolute;
  width: 422px;
  height: 683px;
  left: 37px;
  top: 249px;
}

.form-div {
  position: absolute;
  width: 422px;
  height: 683px;
  left: 37px;
  top: 249px;
}

.inputcontainer {
  position: absolute;
  width: 400px;
  height: 77px;
  left: 37px;
  top: 249px;
}

.input {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 10.39%;
  bottom: 11.69%;

  background: #ffffff;
  border-radius: 10px;
}

.button-container {
  position: absolute;
  width: 400px;
  height: 77px;
  left: 37px;
  top: 337px;
}

.button {
  position: absolute;
  width: 400px;
  height: 60px;
  left: 37px;
  top: 346px;

  background: #4b4c50;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  border-radius: 10px;
}
.buttontext {
  position: absolute;
  width: 154px;
  height: 77px;
  left: 178px;
  top: 337px;

  font-family: "Gilda Display";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 77px;
  

  letter-spacing: 0.09em;

  color: #ffffff;
} */

/* .subform {
  position: absolute;
  width: 422px;
  height: 595px;
  left: 37px;
  top: 337px;
}
.googlebtnwrapper {
  position: absolute;
  width: 117px;
  height: 60px;
  left: 37px;
  top: 531px;
}
.googlebtn {
  box-sizing: border-box;

  position: absolute;
  width: 117px;
  height: 60px;
  left: 37px;
  top: 531px;

  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}
.twitterbtnwrapper {
  position: absolute;
  width: 117px;
  height: 60px;
  left: 175px;
  top: 531px;
}
.twitterbtn {
  position: absolute;
  width: 117px;
  height: 60px;
  left: 175px;
  top: 531px;

  background: #ffffff;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.facebookbtnwrapper {
  position: absolute;
  width: 117px;
  height: 60px;
  left: 317px;
  top: 531px;
}
.facebookbtn {
  box-sizing: border-box;

  position: absolute;
  width: 117px;
  height: 60px;
  left: 317px;
  top: 531px;

  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}

.register {
  position: absolute;
  width: 276px;
  height: 63px;
  left: 111px;
  top: 656px;

  font-family: "Gilda Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  text-align: center;

  color: #000000;
} */

body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
  height: 100vh;

  background: linear-gradient(
    114deg,
    rgb(222 248 249) 32%,
    rgb(195 255 254) 63%,
    rgb(255 255 255) 76%,
    rgb(203 221 171) 89%
  );
}

.magic-btn {
  background: #4b4c50;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  border-radius: 10px;
}

.flexer {
  display: flex;
  align-items: center;
}
.flexer:before {
  display: block;
  content: "";
  width: 30%;
  height: 2px;
  background: #898383;
  opacity: 0.6;
  margin-right: 10px;
  flex: 1;
}

.flexer:after {
  display: block;
  content: "";
  width: 30%;
  height: 2px;
  background: #898383;
  opacity: 0.6;
  margin-left: 10px;
  flex: 1;
}

.card-body {
  background: linear-gradient(
    187deg,
    rgb(247 255 255) 32%,
    rgb(248 255 235) 81%,
    rgb(255 255 255) 97%
  );
}

/////////////////

html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

.content-tab a {
  color: #fff;
  text-align: center;
}
